body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #87CEEB;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 50% 30% 8%;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: "nav nav" "main main" "race summer" "footer footer";
    height: 95vh;
    margin: 5px 20px 20px 20px;
}

#contact{
    grid-template-areas: "nav nav" "main main" "main main" "footer footer";

}

#contactmain{
    display: flex;
    flex-direction: column;

}

main form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form input, form select {
    width: 310px;
    margin-bottom: 12px;
}

form textarea{
    margin-bottom: 12px;
    width: 400px;
}

#submit {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border-style: none;
}



nav { grid-area: nav;}
main {grid-area: main;}
.race {grid-area: race;}
.summer {grid-area: summer;}
footer {grid-area: footer;}

nav {
    display: flex; 
    
}

nav ul {
    margin: 0;
    padding: 0 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    
}
nav header {
    flex-grow: 1;
    display: flex;
}

nav header h1 {
    font-size: 30px;
    font-weight: bold;
    align-self: center;
}

nav ul li {

    list-style: none;
    width: 30%;
    background-color: #00afef;
    border-radius: 5px;
    text-align: center;
    line-height: 50px; 
    color: black;
    font-weight: bold;

}
nav ul li a {
    text-decoration: none;
    color: black;
}

header img {
    height: 100px;
    width: auto;
}
header h1 {
    padding-left: 20px;
    padding-top: 10px;
}

main div {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}
main li{
    list-style: none;
}

main{
    display: flex;
}

main img {
    object-fit: cover;
    margin-right: 20px;
    height: 350px;
    width: 35%;
    align-self: center;
}

section.race {
    display: flex;
    text-align: center;
}

section.race div p {
    margin-top: 10%;
    text-align: left;
}



main li:before {
    content: '🍡';
    margin-left: -31px;
    padding-right: 8px;
}

main, section {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
}

section.summer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.store-button { /* used for store link in "Get refreshed" section */
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
    background-color: #00afef;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
    }
    nav {
        flex-direction: column;
    }

    nav ul li{
        line-height: 25px;
        margin-top: 20px;
    }

    main form input, main form textarea, main form select{
        width: 100%;
    }

    main {
        flex-direction: column;
    }

    main img {
        width: 100%;
        margin-right: 0;
    }

    section.race{
        display: block;
    }

    section.race div p {
        display: inline-block;
        position: relative;
        bottom: 0;
    }

    section.race img {
        float: left;
    }
    

}


